{% extends "layout.html" %}
{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <body class="bg">
        <div id="home">
        <div id="home1">
            <div class="left_circle">
        <div class="slogan">
                 <div class="Logo" >
                     <div class="Logo-horizontal"> <h1>Financier</h1></div></div>

                    <h2 class="Management">Manage your finance easily</h2>
                    <div style="min-height: 90px;"></div>
            </div>
            </div>
            <div class="right_circle">
            <div class="start">
            <a href="#popup-box"><i class="fa-solid fa-circle-chevron-right" style="color: #060520;"></i></a>
                </div>
        </div>
        </div>
        </div>
    <div id="popup-box" class="modal">
        <div class="content">
            <h1 style="color: #060520;">
                Login or create account with google
            </h1>
            <b>
                <a href="{{ url_for('google') }}">Login</a>
            </b>
            <a href="#"
               class="box-close">
                ×
            </a>
        </div>
    </div>
    </body>
{% endblock %}