@font-face {
  font-family: AvenirRegular;
  src: url(AvenirRegular.otf);
}

::-webkit-scrollbar {
        width: 8px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    } @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
    :root{
        --header-height: 3rem;
        --nav-width: 68px;
        --first-color: #060520;
        --first-color-light: #F7F6FB;
        --white-color: #D1C44E;
        --body-font: 'Nunito', sans-serif;
        --normal-font-size: 1rem;--z-fixed: 100
    }

    *,::before,::after{box-sizing: border-box}

    body{
        position: relative;
        margin: var(--header-height) 0 0 0;
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        transition: .5s
    }
    a{text-decoration: none}
    .header{
        width: 100%;
        height: var(--header-height);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        background-color: var(--first-color-light);
        z-index: var(--z-fixed);
        transition: .5s
    }
    .header_toggle{
        color: var(--first-color);
        font-size: 1.5rem;cursor: pointer
    }
    .header_img{
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden
    }
    .header_img img{width: 40px}
    .l-navbar{
        position: fixed;
        top: 0;
        left: -30%;
        width: var(--nav-width);
        height: 100vh;
        background-color: var(--first-color);
        padding: .5rem 1rem 0 0;
        transition: .5s;
        z-index: var(--z-fixed)
    }
    .nav{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden
    }
.nav_logo, .nav_link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
    text-decoration: none;
}
.nav_logo{margin-bottom: 2rem; padding: .5rem 0 .5rem .95rem}

.nav_logo-icon{
    font-size: 1.25rem;
    color: var(--white-color)
}
.nav_logo-name{
    color: var(--first-color-light);
    font-weight: 700
}
.nav_link{
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;transition: .3s
}
.nav_link:hover{color: var(--white-color)}
.nav_icon{font-size: 1.25rem}
.show{left: 0}
.body-pd{padding-left: calc(var(--nav-width) + 1rem)}
.active{color: var(--white-color)}
.active::before
{
    content: '';
    position: absolute;
    left: 0;width: 2px;
    height: 32px;
    background-color: var(--white-color)
}
.height-100{height:100vh}
@media screen and (min-width: 768px){
    body{
        margin: calc(var(--header-height)) 0 0 0;
        padding-left: calc(var(--nav-width))
    }
    .header{
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }
    .header_img{width: 40px;height: 40px}
    .header_img img{width: 45px}
    .l-navbar{left: 0;padding: 1rem 1rem 0 0}
    .show{width: calc(var(--nav-width) + 156px)
    }
    .body-pd{padding-left: calc(var(--nav-width) + 160px)
    }
}
.main-block{
    padding-top: var(--header-height);
    padding-left: 10px;
}
.secondary-block{
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    -webkit-box-shadow: 10px 10px 51px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 51px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 51px 0px rgba(0,0,0,0.75);
    object-fit: contain;
    margin: 2%;
}
.pie-chart{
    display: flex;
    width: 30%;
    height: 50%;
    z-index: 1;
    object-fit: inherit;
}
.chart-details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.chart-details h3{
    display: flex;
    min-width: 50%;
    align-items: center;
    margin: 5%;
}
.chart-details h3{
    margin-left: 10px;
    margin-right: 10px;
}
.wallets{
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wallet{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wallet span{
    display: flex;
    align-items: center;
}
.wallet span .bx-cog{
    font-size: 1.5rem;
    color: var(--first-color)
}
.transactions{
    width: 30vw;
    height: 30vh;
}
.data-boxes{ display: flex; justify-content: space-around;}
.content span{text-align: center}
.data-box{
    padding: 2%;
    border-radius: 10px;
    border: 2px #8e8d9d solid;
    min-width: 0;
    min-height: 0;
    max-height: 60px;
    max-width: 100px;
    transition: all 0.4s;
}
.data-box:hover{border: 2px #060520 solid;}
.form-control, .edit-form{
    font-size: 24px;
    min-height: 0;
    min-width: 0;
    color: #D1C44E;
    border-radius: 10px;
    padding: 2%;
}

.slogan{
        left: 0;
        right: 0;
        margin-top: 60%;
        margin-left: 40%;
        min-width: 30vw;
        min-height: 30vh;
        max-width: 40%;
        color: #fff;
    }
    .start{
        min-width: 25%;
        font-size: 124px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin-left: 15px;
    }
    .nav_new{
        text-decoration: none;
        font-size: 1.5em;
    }
    .center-sm{
        min-width: 100vw;
        display: flex;
        justify-content: center;
    }
    .account{
        min-width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bxs-user-circle{
        font-size: 12rem;
        color: var(--first-color);
    }

    .filter-form{
        display: flex;
        min-width: 70%;
        align-items: center;
        font-size: 1.1rem;
    }
    .width-100{
        display: flex;
        min-height: 4vh;
        min-width: 100%;
        background: var(--first-color);
        color: #D9D9D9;
        border-radius: 10px;
        padding: .2%;
    }
    .filter-form span{
        margin: 1%;
    }
    .filter-form span input{border-radius: 10px; padding: 1% 3% 1% 3%}
    #filter_by{
        margin: 1% ;
    }
    .filter{
        min-width: 100%;
        display: flex;
    }
    .right-button{
        display: flex;
        color: #D9D9D9;
        min-width: 29%;
        flex-direction: row-reverse;
    }
    .btn.refresh-btn{
        border: 2px solid var(--white-color);
        border-radius: 15px;
        color: #D9D9D9;
        margin: 1%;
    }
    .btn.refresh-btn:hover{
        background: var(--white-color);
    }
